textarea {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    padding: 5px;
    overflow: auto;
    resize: none;
}

/* v2 */

wysiwyg .commands {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

wysiwyg .commands input[type="button"], wysiwyg .commands select {
    background: transparent;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-bottom: 4px solid transparent;
}

wysiwyg .commands input[type="button"] {
    padding-bottom: 6px;
    padding-top: 6px;
}

wysiwyg .commands input[type="button"]:hover,
wysiwyg .commands select:hover,
wysiwyg .commands select::-moz-focus-inner {
    border-bottom-color: gray;
}

wysiwyg .editor, wysiwyg textarea {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    padding: 5px;
    overflow: auto;
}

wysiwyg .editor {
    border-top: none;
    resize: none;
}

wysiwyg .editor:focus {
    outline: none;
}

wysiwyg .editor h1, wysiwyg .editor h2, wysiwyg .editor h3 {
    color: gray;
}

wysiwyg .editor img {
    min-width: 200px;
    min-height: 200px;
}

wysiwyg textarea {
    resize: none;
}

wysiwyg .editor .smile {
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    resize: none;
}

wysiwyg .editor.resizable {
    resize: both;
}

wysiwyg .editor.resizable-x {
    resize: horizontal;
}

wysiwyg .editor.resizable-y {
    resize: vertical;
}

wysiwyg .editor .placeholder {
    color: darkgrey;
}
